div{
    width: 100px;
    height: 100px;
    animation-name: demoanimation;
    animation-duration: 10s;
    border-radius: 100px;
    background-color: burlywood;
    float: right;

}
@keyframes demoanimation{
from{
    margin-left: 10px;
}
to{
   margin-right: 800px;
}
}